mantis/display/mantis.4DWork/
mantis/display/mantis.4XE
mantis/display/mantis.cfg
mantis/display/mantis.d01
mantis/display/mantis.d02
mantis/display/mantis.dat
mantis/display/mantis.g01
mantis/display/mantis.g02
mantis/display/mantis.gci
mantis/display/mantis.txf
mantis/display/mantis.g03
mantis/display/mantis.d03
mantis/dotnet/packages/
mantis/dotnet/bin/
mantis/dotnet/MantisDotNet.Cli.Test/obj/
mantis/dotnet/MantisDotNet/obj/
mantis/dotnet/.vs/MantisDotNet/v14/.suo
mantis/dotnet/MantisDotNet.WinForms.Sample/bin/
mantis/dotnet/MantisDotNet.WinForms.Sample/obj/
